.container-video {position: relative;box-shadow: 0 1px 3px rgba(0,0,0,.3);}
.container-video img {width: 100%;}
.container-video .loader {align-items: center;display: flex;height: 200px;justify-content: center;position: absolute;top: 0;width: 100%;}
h1 {font-family: 'Open Sans', sans-serif;margin: 0;padding: 25px 0 0;text-align: center;}
small {display: block;font-family: 'Open Sans', sans-serif;padding: 0 0 60px;text-align: center;width: 100%;}
.float-buttons {position: absolute;top: -50px;right: 20px;}
.content-progress-bar {align-items: center;display: flex;justify-content: center;width: 100%;}
.content-progress-bar mat-slider {width: calc(100% - 180px);margin: 0 5px;}
