main {box-sizing: border-box;display: flex;flex-direction: column;}
section {display: block;height: calc(100vh - 55px);overflow: auto;width: 100%;}
nav {align-items: center;background: #0E0E0E;box-sizing: border-box;display: flex;height: 55px;justify-content: space-between;padding: 10px 50px;z-index: 3;}
nav button {background: transparent;color: rgba(255, 255, 255, .5);height: 40px;line-height: 20px;text-align: center;transition: .2s;width: 40px;}
nav button.active {color: #FFFFFF;}
nav button mat-icon {display: block;font-size: 30px;text-align: center;width: 100%;}
nav button span {font-size: 8pt;}
