<main>
	<section>
		<router-outlet></router-outlet>
	</section>
	<nav>
		<button color="primary" mat-icon-button routerLink="home" routerLinkActive="active" type="button">
			<mat-icon>home</mat-icon>
			<span>Início</span>
		</button>
		<button color="primary" mat-icon-button routerLink="search" routerLinkActive="active" type="button">
			<mat-icon>search</mat-icon>
			<span>Buscar</span>
		</button>
		<button color="primary" mat-icon-button routerLink="settings" routerLinkActive="active" type="button">
			<mat-icon>settings</mat-icon>
			<span>Ajustes</span>
		</button>
    <button
	    (click)="updateAndInstallUpdates()"
	    *ngIf="updateIsAvailable"
	    mat-icon-button>
      <mat-icon>get_app</mat-icon>
	    <span>Atualização Disponível</span>
    </button>
	</nav>
	<!--	<media-cast></media-cast>-->
</main>
