<div *ngIf="!(hide$ | async) && (video$ | async) as video" matRipple class="mini-player-content" [ngClass]="{'hide': animateHide$ | async}" matRippleColor="rgba(255,255,255,.1)">
  <div [routerLink]="redirectTo" class="poster">
    <img [src]="video.poster" [alt]="video.title"/>
  </div>
  <div [routerLink]="redirectTo" class="video-data">
    <h2>{{video.title}}</h2>
    <small>{{video.subtitle}}</small>
  </div>
  <div class="controls">
    <controls [miniPlayer]="true"></controls>
  </div>
</div>
