html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {border: 0;font: inherit;font-size: 100%;margin: 0;padding: 0;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {background: #000000;color: #F1F1F1;font-family: 'Open Sans', sans-serif;line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
mat-card-header .mat-card-header-text {width: 100%;}
.mat-button-disabled,
input::placeholder,
.mat-form-field-appearance-outline .mat-form-field-outline {color: #FFFFFF !important;opacity: .6;}
.mat-select-value,
.mat-select-arrow,
.mat-form-field input,
.mat-form-field textarea,
.mat-form-field-appearance-outline:not(.mat-form-field-invalid) .mat-form-field-outline-thick,
.mat-form-field label {caret-color: #FFFFFF !important;color: #FFFFFF !important;}
.mat-form-field-underline,
.mat-form-field-appearance-fill .mat-form-field-underline::before,
.mat-form-field-ripple {background: transparent !important;}
.mat-expansion-panel,
.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {background: transparent!important;box-shadow: none!important;}
.mat-expansion-panel-header-title {color: rgba(255, 255, 255, .56);}
.mat-expansion-indicator:after {color: #fff;}
.mat-expansion-panel-body {padding: 0!important;margin: 0!important;}
.mat-divider {border-top-color: rgba(255, 255, 255, .12)}
.mat-slider-track-background,
.mat-slider:hover .mat-slider-track-background,
.cdk-focused .mat-slider-track-background {background-color: #1E88E5 !important;}
.mat-slider-horizontal .mat-slider-ticks {background-image: none;}
.mat-accent .mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {background-color: #1976D2;}
