form {box-sizing: border-box;padding: 0 20px 0;width: 100%;}
.search-content {border-radius: 0 0 20px 20px;padding-bottom: 10px;margin-bottom: 10px;background: rgba(26,35,136,.1);}
.content-videos-list h3 {color: rgba(255,255,255,.6);}
.content-videos-list mat-list-item {background: rgba(26,35,136,.1);color: #FFFFFF;margin-bottom: 2px;}
