<section *ngIf="videos$ | async as videos else showLoader">
	<h2>Adicionados Recentemente</h2>
	<mat-card *ngFor="let video of videos" [routerLink]="'/video/'+video.id" class="card-video">
		<img *ngIf="video.poster | async as poster" [alt]="poster.alt" [src]="poster.src" mat-card-image/>
		<mat-card-header>
			<mat-card-title>{{video.tituloOriginal}}</mat-card-title>
			<mat-card-subtitle>{{categoriaTranslate.translate(video.categoria).name}}</mat-card-subtitle>
		</mat-card-header>
	</mat-card>
</section>
<ng-template #showLoader>
	<div class="loader">
		<mat-spinner color="primary" diameter="30"></mat-spinner>
	</div>
</ng-template>
