<section [ngClass]="{'miniplayer': miniPlayer$ | async}">
  <div *ngIf="banner$ | async as banner else showLoader" class="banner">
    <figure>
      <div class="img">
        <img [src]="banner.poster" [alt]="banner.tituloOriginal"/>
      </div>
      <figcaption>
        <h1>{{banner.tituloOriginal}}</h1>
        <button
          [routerLink]="'/video/' + banner.id"
          mat-raised-button
          color="primary">
          Assistir
        </button>
      </figcaption>
    </figure>
  </div>
	<ls-title title="Filmes" titleIcon="movie"></ls-title>
	<div *ngIf="filmes$ | async as filmes else showLoader" class="content-videos">
		<mat-card *ngFor="let filme of filmes" [routerLink]="'/video/'+filme.id" class="card-video">
			<img [alt]="filme.tituloOriginal" [src]="filme.poster" mat-card-image/>
		</mat-card>
	</div>
	<ls-title title="Séries" titleIcon="videocam"></ls-title>
	<div *ngIf="series$ | async as series else showLoader" class="content-videos">
		<mat-card *ngFor="let serie of series" [routerLink]="'/video/'+serie.id" class="card-video">
			<img [alt]="serie.tituloOriginal" [src]="serie.poster" mat-card-image/>
		</mat-card>
	</div>
</section>
<ng-template #showLoader>
	<div class="loader">
		<mat-spinner color="primary" diameter="30"></mat-spinner>
	</div>
</ng-template>
